# Configuration file
<<<<<<< HEAD
=======
     
>>>>>>> TPPI-v1.0.1
####################
# settings
####################

settings {
    B:AlertEnabled=true
    S:OnMorningText=Wakey, wakey, rise and shine...Good Morning everyone!
    S:OnSleepText=is now sleeping.
    S:OnWakeText=has left their bed.
<<<<<<< HEAD
    I:SleeperPerc=50
}


=======
    I:SleeperPerc=50     
}

>>>>>>> TPPI-v1.0.1
