# Configuration file

##########################################################################################################
# clientonly
#--------------------------------------------------------------------------------------------------------#
# These settings affect only the client that loads the mod.
##########################################################################################################

clientonly {
    # How often can the camera screen update it's Point of view?
    # 
    # Min: 0
    # Max: 20
    I:cameraFreq=20
}


##########################################################################################################
# gameplay
#--------------------------------------------------------------------------------------------------------#
# These options affect the gameplay while using the mod.
##########################################################################################################

gameplay {
    # The rarity of cameras in mineshaft corridors?
    # 
    # Min: 0
    # Max: 100
    I:cameraRarity=1

    # What's the recharge rate of the camera's flash?
    # 
    # Min: 0
    I:cameraRecharge=100

    # How long does the "Photoreal" effect last?
    # 
    # Min: 0
    I:photorealDuration=400
}


